<.header>
  Listing Tokens
</.header>

<.table id="tokens" rows={@tokens}>
  <:col :let={tokens} label="Name"><%= tokens.app_name %></:col>
  <:action :let={tokens}>
    <.link navigate={~p"/tokens/#{tokens.id}/revoke"}>Revoke</.link>
  </:action>
</.table>
